.message {
    padding: 20px 80px 0;
    background: #f9f9f9;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.messageHeader {
    text-align: center;
    margin-bottom: 50px;
}

.messageHeader h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.directorTitle {
    color: #666;
    font-style: italic;
    font-size: 1.2rem;
}

.messageContent {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.directorImage {
    width: 100%;
    position: relative;
    flex: 1;
}

.directorImage img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.imageFrame {
    position: absolute;
    top: 20px;
    left: 20px;
    right: -20px;
    bottom: -20px;
    border: 3px solid #d59f0f;
    border-radius: 10px;
    z-index: 1;
}

.messageText {
    flex: 1.5;
    position: relative;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: left;
    line-height: 1.6;
    font-size: 18.5px;
}

.quoteMark {
    position: absolute;
    top: -30px;
    left: 20px;
    font-size: 120px;
    color: #d59f0f;
    opacity: 0.2;
    font-family: Georgia, serif;
}

.messageText p {
    color: #555;
    line-height: 1.8;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

@media (max-width: 768px) {
    .message{
        padding: 0; 
    }
    .messageContent {
      flex-direction: column; 
      align-items: center; 
    }
  
    .directorImage,
    .messageText {
      width: 100%; 
      height: auto; 
    }
  }
